.flex.svelte-lo7q93 {
  display: flex;
}
.column.svelte-lo7q93 {
  min-width: 300px;
}
img.svelte-lo7q93 {
  float: right;
  margin-left: 15px;
  margin-top: 25px;
  margin-right: 10px;
}
@media screen and (max-width: 700px) {
  img.svelte-lo7q93 {
    width: 0%;
  }
}
